body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #000;
}
html {
  height: 100%;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar {
  width: 10px;
}
.w-100 {
  width: 100%;
}
